<!DOCTYPE html>
<html lang="zh-EN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{sort:title}</title>
<meta name="keywords" content="{sort:keywords}">
<meta name="description" content="{sort:description}">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/bootstrap.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/swiper.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/animate.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/font_2461737_iw5mgbjsy8.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/hover-min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/video-js.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/share.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/base1.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/common1.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/index1.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/aboutus1.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/news_list1.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/album_list.css">
<script src="{pboot:sitedomain}/style/js/jquery.min.js"></script>
<script src="{pboot:sitedomain}/style/js/swiper.min.js"></script>
<script src="{pboot:sitedomain}/style/js/bootstrap.min.js"></script>
<script src="{pboot:sitedomain}/style/js/count.js"></script>
<script src="{pboot:sitedomain}/style/js/video.min.js"></script>
<script src="{pboot:sitedomain}/style/js/social-share.min.js"></script>
<script src="{pboot:sitedomain}/style/js/swiper.animate1.0.3.min.js"></script>
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/baguetteBox.min.css">
<script src="{pboot:sitedomain}/style/js/baguetteBox.min.js"></script>
</head>
<body>
{include file=head.html} 
<!-- 内页背景 --> 
{include file=top.html} 
<!-- 内页新闻列表 -->
<div class="nyxwlb">
  <div class="container">
    <div class="row nyxwlbbox"> {pboot:list num=6} <a href="[list:link]" target="_blank" class="nygsxw_cta">
      <div class="nygsxw_ctaimg"> <img src="[list:ico]" alt="[list:title]"> </div>
      <div class="nygsxw_ctatxt">
        <div class="nygsxw_ctatxtbox">
          <div class="nygsxw_ctatxtbox_t">[list:title]</div>
          <div class="nygsxw_ctatxtbox_b">[list:description drophtml=1 dropblank=1 lencn=80]</div>
        </div>
      </div>
      <div class="nygsxw_ctasj">
        <div class="nygsxw_ctasjbox">
          <p>[list:date style="m-d"]</p>
          <span>[list:date style="Y"]</span> </div>
      </div>
      </a> {/pboot:list} </div>
    
    {pboot:if({page:rows}>0)}
      <div class="pagebar">
        <div class="pagination">
          <a class="page-item page-link" href="{page:pre}" title="上一页"><<</a>
          {page:numbar}
          <a class="page-item page-link" href="javascript:;" title="当前页/总页数">{page:current}/{page:count}</a>
          <a class="page-item page-link" href="{page:next}" title="下一页">>></a>
        </div>
      </div>	
    {else}
      <div class="tac text-secondary">本分类下无任何数据！</div>
    {/pboot:if}
  </div>
</div>

<!-- 底部 --> 
{include file=foot.html}
