<!DOCTYPE html>
<html lang="zh-EN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{content:title}-{pboot:sitetitle}</title>
<meta name="keywords" content="{content:keywords}">
<meta name="description" content="{content:description}">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/bootstrap.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/swiper.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/animate.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/font_2461737_iw5mgbjsy8.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/hover-min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/video-js.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/share.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/base1.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/common1.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/index1.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/aboutus1.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/news_list1.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/album_list.css">
<script src="{pboot:sitedomain}/style/js/jquery.min.js"></script>
<script src="{pboot:sitedomain}/style/js/swiper.min.js"></script>
<script src="{pboot:sitedomain}/style/js/bootstrap.min.js"></script>
<script src="{pboot:sitedomain}/style/js/count.js"></script>
<script src="{pboot:sitedomain}/style/js/video.min.js"></script>
<script src="{pboot:sitedomain}/style/js/social-share.min.js"></script>
<script src="{pboot:sitedomain}/style/js/swiper.animate1.0.3.min.js"></script>
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/baguetteBox.min.css">
<script src="{pboot:sitedomain}/style/js/baguetteBox.min.js"></script>
</head>
<body>
{include file=head.html}
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/product_content1.css">
<!-- 产品面包屑 -->
<div class="cpmbx">
  <div class="container">
    <div class="row">
      <div class="cpmbxbox">
        <div class="cpmbxboxnav"> {pboot:position} </div>
        <div class="cpmbxboxfh"> <a href="{content:sortlink}" class="cpmbxboxfha"> <i  class="iconfont icon-fanhui"></i> <span>返回</span> </a> </div>
      </div>
    </div>
  </div>
</div>
<!-- 内部产品详情 -->
<div class="nbcpxq">
  <div class="container">
    <div class="row">
      <div class="nbcpxqbox">
        <div class="nbcpxqboxl">
          <div class="nbcpxqboxl_lb">
            <div class="swiper-container gallery-top nbcpxqt_top swiper-container-initialized swiper-container-horizontal">
              <div class="swiper-wrapper nbcpxqt_wrapper">
               {pboot:if('{content:ispics}'==0)}
                <div class="swiper-slide nbcpxqb_slide"> <img src="{content:ico}" alt="{content:title}"> </div>
                {else}
                {pboot:pics num=10 id={content:id}}
                <div class="swiper-slide nbcpxqb_slide swiper-slide-prev"> <img src="[pics:src]" > </div>
                {/pboot:pics}
                {/pboot:if} </div>
              <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span> </div>
            <div class="nbcpxqb"> 
              <!-- 定位按钮 -->
              <div class="nbcpxqb_pre"> <i class="iconfont icon-xiangzuo"></i> </div>
              <div class="nbcpxqb_next swiper-button-disabled"> <i class="iconfont icon-xiangyou-copy"></i> </div>
              <div  class="swiper-container gallery-thumbs nbcpxqb_thumbs">
                <div class="swiper-wrapper nbcpxqb_wrapper"> {pboot:if('{content:ispics}'==0)}
                  <div class="swiper-slide nbcpxqb_slide"> <img src="{content:ico}" alt="{content:title}"> </div>
                  {else}
                  {pboot:pics num=10 id={content:id}}
                  <div class="swiper-slide nbcpxqb_slide"> <img src="[pics:src]" alt=""> </div>
                  {/pboot:pics}
                  {/pboot:if} </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span> </div>
            </div>
          </div>
        </div>
        <div class="nbcpxqboxr">
          <div class="nbcpxqboxr_title">
            <div class="nbcpxqboxr_titleh">{content:title}</div>
            <div class="nbcpxqboxr_titleimg"> <i class="iconfont icon-erweima"></i> 
              <!-- 定位 -->
              <div class="nbcpxqboxr_titleimgdw">
                <div class="vm">
                  <div id="output">{pboot:qrcode string={pboot:httpurl}{content:link}}</div>
                  <p>手机扫一扫</p>
                </div>
              </div>
            </div>
          </div>
          <div class="nbcpxqboxr_ct">
            <div class="nbcpxqboxr_ctitem"> {content:description} </div>
          </div>
          <div class="nbcpxqboxr_link">
            <div class="nbcpxqboxr_linka"> {pboot:sort scode=11} <a href="[sort:link]" target="_blank" class="nbcpxqboxr_linkabox"> <i class="iconfont icon-tubiao-"></i> <span>留言</span> </a> {/pboot:sort} </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
        var nbcpxqbGalleryThumbs = new Swiper('.nbcpxqb_thumbs', {
            spaceBetween: 10,
            slidesPerView: 4,
            freeMode: true,
            watchSlidesVisibility: true,
            watchSlidesProgress: true,
        });
        var nbcpxqtGalleryTop = new Swiper('.nbcpxqt_top', {
            spaceBetween: 10,
            navigation: {
                nextEl: '.nbcpxqb_next',
                prevEl: '.nbcpxqb_pre',
            },
            thumbs: {
                swiper: nbcpxqbGalleryThumbs
            }
        });
        $(".nbcpxqboxr_links").hover(
            function () {
                $('.nbcpxqboxr_linkstdw').stop().slideDown();
            },
            function () {
                $('.nbcpxqboxr_linkstdw').stop().slideUp();
            }
        );
    </script> 
<!-- 内部产品参数 -->
<div class="nbcqcs">
  <div class="container">
    <div class="row nbcqcsbox">
      <div class="col-12 col-lg-9 nbcqcsboxl">
        <div class="nbcqcsboxl_t">
          <div
                            class="swiper-container gallery-thumbs nbcqcst_thumbs swiper-container-initialized swiper-container-horizontal swiper-container-free-mode swiper-container-thumbs">
            <div class="swiper-wrapper nbcqcst_wrapper">
              <div
                                    class="swiper-slide nbcqcst_slide swiper-slide-visible swiper-slide-active swiper-slide-thumb-active">
                <div class="nbcqcst_slideitem"> 产品规格表 </div>
              </div>
              <div class="swiper-slide nbcqcst_slide swiper-slide-visible swiper-slide-next">
                <div class="nbcqcst_slideitem"> 产品特性 </div>
              </div>
              <div class="swiper-slide nbcqcst_slide swiper-slide-visible">
                <div class="nbcqcst_slideitem"> 应用领域 </div>
              </div>
              <div class="swiper-slide nbcqcst_slide swiper-slide-visible">
                <div class="nbcqcst_slideitem"> 曲线图片 </div>
              </div>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span> </div>
        </div>
        <div class="nbcqcsboxl_b">
          <div class="swiper-container gallery-top nbcqcsb_top swiper-container-initialized swiper-container-horizontal">
            <div class="swiper-wrapper nbcqcsb_wrapper">
              <div class="swiper-slide nbcqcsb_slide" id="maximg">
                <div class="nbcqcsb_slideitem"> {content:ext_guige} </div>
              </div>
              <div class="swiper-slide nbcqcsb_slide">
                <div class="nbcqcsb_slideitem"> {content:ext_texin} </div>
              </div>
              <div class="swiper-slide nbcqcsb_slide">
                <div class="nbcqcsb_slideitem"> {content:ext_lingyu} </div>
              </div>
              <div class="swiper-slide nbcqcsb_slide">
                <div class="nbcqcsb_slideitem"> {content:content} </div>
              </div>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span> </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 nycqlbl">
        <div class="nycqlbldw"> </div>
        <div class="nycqlblbox"> {pboot:nav parent={sort:tcode}}
          <div class="nycqlblbox_item">
            <div class="nycqlblbox_itemtitle"> <a class="nycqlblbox_itemtitlel {pboot:if('[nav:scode]'=='{sort:scode}')} on {/pboot:if}" href="[nav:link]"> <span>[nav:name]</span> </a>
              <div class="nycqlblbox_itemtitlelr "> <span> <i class="iconfont icon-xiangxia"></i></span> </div>
            </div>
            <div class="nycqlblbox_itemct"> {pboot:2nav parent=[nav:scode]} <a href="[2nav:link]"  class="nycqlblbox_itemcta ">[2nav:name]</a> {/pboot:2nav} </div>
          </div>
          {/pboot:nav} </div>
      </div>
    </div>
  </div>
</div>
<script>
        var nbcqcstGalleryThumbs = new Swiper('.nbcqcst_thumbs', {
            spaceBetween: 0,
            slidesPerView: 'auto',
            freeMode: true,
            watchSlidesVisibility: true,
            watchSlidesProgress: true,
        });
        var nbcqcsbGalleryTop = new Swiper('.nbcqcsb_top', {
            spaceBetween: 10,
            thumbs: {
                swiper: nbcqcstGalleryThumbs
            },
            noSwiping: true,
        });
        $('.nycqlblbox_itemtitlelr').click(function () {
            // 替换字体图标类名
            $(this).toggleClass('on on1')
            $('.nycqlblbox_itemct:visible').slideUp().siblings('.nycqlblbox_itemtitle').find('.nycqlblbox_itemtitlelr').removeClass('on').addClass('on1')
            var subnav1 = $(this).parents('.nycqlblbox_item').find('.nycqlblbox_itemct')
            // console.log(subnav.is(':hidden'));
            if (subnav1.is(':hidden')) {
                subnav1.slideDown()
            } else {
                subnav1.slideUp()
            };
        })
    </script> 
<!-- 内部产品特点 -->
<div class="nbcptd">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 nbcptdbox">
      <div class="col nbcptdbox_item">
        <div class="nbcptdbox_itembox">
          <div class="nbcptdbox_itemboximg"> <img src="{pboot:sitedomain}/style/images/p1.png"  alt="强大的性能"> </div>
          <div class="nbcptdbox_itemboxtxt">
            <h6>强大的性能</h6>
            <p> </p>
            <p>可以带来强大的力量</p>
          </div>
        </div>
      </div>
      <div class="col nbcptdbox_item">
        <div class="nbcptdbox_itembox">
          <div class="nbcptdbox_itemboximg"> <img src="{pboot:sitedomain}/style/images/p2.png" alt="免维护"> </div>
          <div class="nbcptdbox_itemboxtxt">
            <h6>免维护</h6>
            <p> </p>
            <p>全密封和免维护</p>
          </div>
        </div>
      </div>
      <div class="col nbcptdbox_item">
        <div class="nbcptdbox_itembox">
          <div class="nbcptdbox_itemboximg"> <img src="{pboot:sitedomain}/style/images/p3.png" alt="出色的使用寿命"> </div>
          <div class="nbcptdbox_itemboxtxt">
            <h6>出色的使用寿命</h6>
            <p> </p>
            <p>比行业平均寿命长</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 其他产品 -->
<div class="rmproduct">
  <div class="container">
    <div class="row justify-content-center rmproduct_title"> 相关产品 </div>
    <div class="row row-cols-1 rmproduct_box"> 
      <!-- 定位按钮 -->
      <div class="rmproduct_next swiper-button-disabled" tabindex="0" role="button" aria-label="Next slide"
                    aria-disabled="true"> <i class="iconfont  icon-xiangyou-copy"></i> </div>
      <div class="rmproduct_prev swiper-button-disabled" tabindex="0" role="button"
                    aria-label="Previous slide" aria-disabled="true"> <i class="iconfont icon-xiangzuo"></i> </div>
      <div
                    class="swiper-container rmproduct_container swiper-container-initialized swiper-container-horizontal">
        <div class="swiper-wrapper rmproduct_wrapper" style="transform: translate3d(0px, 0px, 0px);"> {pboot:list scode={sort:tcode} num=8 page=0}
          {pboot:if('[list:id]'!='{content:id}')}
          <div class="swiper-slide"> <a href="[list:link]" target="_blank" class="rmproduct_slidea">
            <div class="rmproduct_slidea_img"> <img src="[list:ico]" alt="[list:title]"> </div>
            <div class="rmproduct_slidea_txt">[list:title]</div>
            </a> </div>
          {/pboot:if}
          {/pboot:list} </div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span> </div>
    </div>
  </div>
</div>
<script>
        var rmproductSwiper = new Swiper('.rmproduct_container', {
            slidesPerView: 2,
            spaceBetween: 20,
            navigation: {
                nextEl: '.rmproduct_next',
                prevEl: '.rmproduct_prev',
            },
            breakpoints: {
                768: { //当屏幕宽度大于等于320
                    slidesPerView: 4,
                    spaceBetween: 10,
                },
                992: { //当屏幕宽度大于等于768 
                    slidesPerView: 5,
                    spaceBetween: 20,
                },
                1200: { //当屏幕宽度大于等于1280
                    slidesPerView: 5,
                    spaceBetween: 20,
                }
            }
        });
    </script> 
<!-- 内页其他引导 --> 

<!-- 底部 --> 
{include file=foot.html}
