<!DOCTYPE html>
<html lang="zh-EN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>搜索结果-{pboot:sitetitle}</title>
<meta name="keywords" content="{pboot:sitekeywords}">
<meta name="description" content="{pboot:sitedescription}">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/bootstrap.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/swiper.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/animate.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/font_2461737_iw5mgbjsy8.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/hover-min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/video-js.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/share.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/base1.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/common1.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/index1.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/aboutus1.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/news_list1.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/album_list.css">
<script src="{pboot:sitedomain}/style/js/jquery.min.js"></script>
<script src="{pboot:sitedomain}/style/js/swiper.min.js"></script>
<script src="{pboot:sitedomain}/style/js/bootstrap.min.js"></script>
<script src="{pboot:sitedomain}/style/js/count.js"></script>
<script src="{pboot:sitedomain}/style/js/video.min.js"></script>
<script src="{pboot:sitedomain}/style/js/social-share.min.js"></script>
<script src="{pboot:sitedomain}/style/js/swiper.animate1.0.3.min.js"></script>
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/baguetteBox.min.css">
<script src="{pboot:sitedomain}/style/js/baguetteBox.min.js"></script>
</head>
<body>
{include file=head.html} 
<!-- 内页背景 -->
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/product_list1.css">
{pboot:sort scode=5}
<div class="nybg" style="background-image: url([sort:pic]);">
  <div class="container">
    <div class="row align-items-center nybgt">
      <div class="nybgt_txt">
        <div class="nybgt_txth"> [sort:name] </div>
        <div class="nybgt_txtx"></div>
      </div>
    </div>
    <div></div>
  </div>
  <div class="nybgb">
    <div class="container">
      <div class="row align-items-center nybgbbig">
        <div class="nymbx">{pboot:position}</div>
      </div>
    </div>
  </div>
</div>
{/pboot:sort} 

<!-- 内页产品列表 -->
<div class="nycqlb">
  <div class="container">
    <div class="row nycqlbbox">
      <div class="col-12 col-lg-3 nycqlbl order-lg-1 order-12">
        <div class="nycqlbldw"> </div>
        <div class="nycqlblbox "> {pboot:nav parent=5}
          <div class="nycqlblbox_item">
            <div class="nycqlblbox_itemtitle"> <a class="nycqlblbox_itemtitlel {pboot:if('[nav:scode]'=='{sort:scode}')} on {/pboot:if}" href="[nav:link]"> <i class="iconfont icon-double-circle"></i><span>[nav:name]</span> </a>
              <div class="nycqlblbox_itemtitlelr {pboot:if('[nav:scode]'=='{sort:scode}')} on {/pboot:if}"> <span> <i class="iconfont icon-xiangxia"></i></span> </div>
            </div>
            <div class="nycqlblbox_itemct" > {pboot:2nav parent=[nav:scode]} <a href="[2nav:link]" class="nycqlblbox_itemcta "> [2nav:name] </a> {/pboot:2nav} </div>
          </div>
          {/pboot:nav} </div>
      </div>
      <div class="col-12 col-lg-9  nycqlbr pb120  order-lg-12 order-1">
        <div class="row nycqlbrbox row-cols-1">
          <div class="nycqlbrbox_title">
            <div class="nycqlbrbox_titlet">
              <div class="nycqlbrbox_titleth"> {sort:name} </div>
              <div class="nycqlbrbox_titletss">
                <form method="get" action="{pboot:scaction}" class="nycqlbrbox_titletssbox">
                  <input type="text" name="keyword" value="" id="top-keywords" class="nycqlbrbox_titletssbox_sr" placeholder="搜索">
                  <input name="" type="submit" class="nycqlbrbox_titletssbox_tj" style="background-image: url({pboot:sitedomain}/style/images/searchb.png);" value="">
                </form>
              </div>
            </div>
            <div class="nycqlbrbox_titleb"></div>
          </div>
          <div class="nycqlbrbox_ct"> {pboot:search num=9} <a href="[search:link]" class="nycqlbrbox_cta" target="_blank">
            <div class="nycqlbrbox_ctaimg"> <img src="[search:ico]" alt="[search:title]"> </div>
            <div class="nycqlbrbox_ctatxt">
              <div class="nycqlbrbox_ctatxtct"> [search:title] </div>
            </div>
            </a> {/pboot:search} </div>
          {pboot:if({page:rows}>0)}
      <div class="pagebar">
        <div class="pagination">
          <a class="page-item page-link" href="{page:pre}" title="上一页"><<</a>
          {page:numbar}
          <a class="page-item page-link" href="javascript:;" title="当前页/总页数">{page:current}/{page:count}</a>
          <a class="page-item page-link" href="{page:next}" title="下一页">>></a>
        </div>
      </div>	
    {else}
      <div class="tac text-secondary">本分类下无任何数据！</div>
    {/pboot:if}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $(window).resize(function () {
        var winw1 = $(window).width();
        var gssmboxw1 = $('.nycqlbbox').width()
        var gssmboxdw1 = (winw1 - gssmboxw1) / 2
        var gssmboxl1 = $('.nycqlbl').width()
        $('.nycqlbldw').css('width', gssmboxdw1 + gssmboxl1)
    })
    $(window).resize();

    $('.nycqlblbox_itemtitlelr').click(function () {
        // 替换字体图标类名
        $(this).toggleClass('on on1')
        $('.nycqlblbox_itemct:visible').slideUp().siblings('.nycqlblbox_itemtitle').find('.nycqlblbox_itemtitlelr').removeClass('on').addClass('on1')
        var subnav1 = $(this).parents('.nycqlblbox_item').find('.nycqlblbox_itemct')
        // console.log(subnav.is(':hidden'));
        if (subnav1.is(':hidden')) {
            subnav1.slideDown()
        } else {
            subnav1.slideUp()
        };
    })
</script> 

<!-- 底部 --> 
{include file=foot.html}
