{include file=comm/head.html}

{include file=comm/top.html}

<div class="container pages">

	 {include file=comm/position.html}

	 <!-- 分类筛选 -->
     <div  class="my-3">
          <div class="row">
           		<div class="col-12 col-sm-2 col-md-1">类型：</div>
                <div class="col-12 col-sm-10 col-md-11">
                   {pboot:selectall field=ext_type text=全部  class='mb-3 btn btn-light' active='mb-3 btn btn-info'}
                   {pboot:select field=ext_type}
                       <a href= "[select:link]" class="mb-3 btn {pboot:if('[select:value]'=='[select:current]')}btn-info{else}btn-light{/pboot:if}">[select:value]</a>  
                   {/pboot:select}
               </div>
          </div>
           
          <div class="row">
           		<div class="col-12 col-sm-2 col-md-1">款式：</div>
                <div class="col-12 col-sm-10 col-md-11">
                   {pboot:selectall field=ext_style text=全部  class='mb-3 btn btn-light' active='mb-3 btn btn-info'}
                   {pboot:select field=ext_style}
                      <a href= "[select:link]" class="mb-3 btn {pboot:if('[select:value]'=='[select:current]')}btn-info{else}btn-light{/pboot:if}">[select:value]</a>  
                   {/pboot:select}
               </div>
          </div>
		 
          <div class="row">
           		<div class="col-12 col-sm-2 col-md-1">适用：</div>
                <div class="col-12 col-sm-10 col-md-11">
                   {pboot:selectall field=ext_apply text=全部  class='mb-3 btn btn-light' active='mb-3 btn btn-info'}
                   {pboot:select field=ext_apply}
                      <a href= "[select:link]" class="mb-3 btn {pboot:if('[select:value]'=='[select:current]')}btn-info{else}btn-light{/pboot:if}">[select:value]</a>  
                   {/pboot:select}
               </div>
          </div>		 
		 
    <!-- 搜索-->
     <form class="form-inline mb-5 justify-content-center" action="{pboot:scaction}"  method="get">
		  <div class="form-group mx-sm-3 mb-2">
		    <input type="text" name="keyword" class="form-control" placeholder="请输入关键字">
		  </div>
		  <button type="submit" class="btn btn-info mb-2">搜索</button>
     </form>
 		 
    </div>
      
	<!-- 图文列表 -->
    <div class="row">
        {pboot:list num=16 order=sorting}
            <div class="col-12 col-sm-6 col-lg-3 wow zoomIn" data-wow-delay="[list:i]00ms" data-wow-duration="1s">
              <div class="card">
                  <div class="card-img-150"><a href="[list:link]" target="_blank"><img class="card-img-top" src="[list:ico]" alt="[list:title]"></a></div>
                  <div class="card-body">
                    <h5 class="card-title"><a href="[list:link]" target="_blank">[list:title lencn=12]</a></h5>
                    <p class="card-text">
                    {pboot:if([list:istop]==1)}
                		<span class="badge badge-danger">置顶</span>
                	{/pboot:if}
                	{pboot:if([list:isrecommend]==1)}
                		<span class="badge badge-warning">推荐</span>
                	{/pboot:if}
                	{pboot:if([list:isheadline]==1)}
                		<span class="badge badge-info">头条</span>
                	{/pboot:if}
                	[list:content drophtml=1 dropblank=1 lencn=50]
                	</p>
                	<p>
                	{pboot:tags id=[list:id] scode={sort:tcode}}
                  		<a href="[tags:link]" target="_blank"><span class="badge badge-secondary">[tags:text]</span></a>
					{/pboot:tags}
					</p>
                  </div>
               </div>
         	</div>
        {/pboot:list}
    </div>

 	{include file=comm/page.html}
    
    <!-- 搜索-->
     <form class="form-inline mb-5 justify-content-center" action="{pboot:scaction}"  method="get">
		  <div class="form-group mx-sm-3 mb-2">
		    <input type="text" name="keyword" class="form-control" placeholder="请输入关键字">
		  </div>
		  <button type="submit" class="btn btn-info mb-2">搜索</button>
     </form>
	

<!-- 新闻动态 -->
<div class="bg-white py-5">
    <div class="container">
      {pboot:sort scode=2}
      	<div class="text-center fs-26 fs-sm-28 text-warning wow fadeInDown">[sort:name]</div>
      	<div class="text-center fs-14 fs-sm-16 mb-5 text-secondary wow fadeInUp" data-wow-delay="1s">- [sort:subname] -</div>
      {/pboot:sort}
      
      <div class="row">
      	{pboot:list scode=2 num=6 order=date}
            <div class="col-12 col-lg-6 mb-3 wow fadeInUp" data-wow-delay="500ms">
                <div class="media mb-3">
                  <div class="media-body">
                     <h5><a href="[list:link]" title="[list:title]" target="_blank">[list:title lencn=20]</a></h5>
                     <p><a href="[list:link]" class="text-secondary lh-2" target="_blank">[list:content drophtml=1 dropblank=1 lencn=60] [list:date style=Y-m-d]</a></p>
                  </div>
                </div>
            </div>
        {/pboot:list}
      </div>
	  {pboot:sort scode=2}
		<div class="text-center wow fadeInDown" data-wow-delay="1s"><h4><a href="[sort:link]" class="text-secondary fs-14 fs-sm-16" target="_blank">查看更多</a></h4></div>
	  {/pboot:sort}
    </div>
</div>
	
    
</div>

{include file=comm/foot.html}
