

/* 公司说明 */

.gssmboxl {
    position: relative;
}

.gssmboxdw {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gssmboxr {
    padding: 40px 0;
    padding-left: 90px;
}

.gssmboxr_txth {
    font-family: 'ProximaNova-Bold';
    text-transform: capitalize;
    word-break: break-all;
    font-size: 36px;
}

.gssmboxr_txtct {
    margin-top: 20px;
    height: 310px;
    cursor: s-resize;
}

.gssm_container {
    width: 100%;
    height: 100%;
}

.gssm_slide {
    height: auto;
    padding-right: 70px;
}


.gssm_slide p {
    font-size: 14px;
    color: #666;
    line-height: 24px;
    margin-bottom: 20px;
    word-break: break-all;
}

.gssm_scrollbar.swiper-scrollbar {
    width: 8px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background-color: #234488;
}

.gssm_scrollbar .swiper-scrollbar-drag {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background-color: #df002c;
}


/* 公司展示 */

.gszsboxl {
    padding: 120px 0;
    padding-left: 55px;
    display: flex;
    align-items: center;
}

.gszsboxllb {
    width: 310px;
}

.gszsboxllb_title {
    font-family: 'ProximaNova-Bold';
    text-transform: capitalize;
    word-break: break-all;
    font-size: 36px;
}

.gszsboxllb_ct {
    margin-top: 15px;
}

.gszsl_thumbs {
    width: 100%;
}

.gszsl_slide {
    overflow: hidden;
}

.gszsl_slide .gszsl_slidea {
    display: flex;
    height: 50px;
    line-height: 49px;
    border-bottom: 1px solid #d5d5d5;
    position: relative;
}

.gszsl_slide:last-child .gszsl_slidea {
    border-bottom: 0;
}

.gszsl_slidea i {
    transform: scale(0);
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.gszsl_slidea span {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.gszsl_slide:hover i {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.gszsl_slide:hover .gszsl_slidea span {
    color: #000;
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}

.gszsl_slide.swiper-slide-thumb-active .gszsl_slidea span {
    color: #000;
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}

.gszsl_slide.swiper-slide-thumb-active .gszsl_slidea i {
    color: #e12644;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.gszsboxr {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.gszsboxrdw {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gszsboxr_ct {
    width: 70%;
    height: 400px;
    position: relative;
}

.gszsr_top {
    width: 100%;
    height: 100%;
}

.gszsr_slide .gszsr_slidea {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    overflow: hidden;
}

.gszsr_slideadw {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgba(0, 0, 0, .6);
    text-align: center;
    color: #fff;
    text-transform: uppercase;
	font-size: 14px;
}

.gszsr_slidea img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.gszsr_slide .gszsr_slidea:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.gszsboxr_per,
.gszsboxr_next {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, .8);
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    z-index: 10;
    cursor: pointer;
    outline: none;
}

.gszsboxr_per.swiper-button-disabled,
.gszsboxr_next.swiper-button-disabled {
    background-color: rgba(0, 0, 0, .3);
}

.gszsboxr_per {
    left: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.gszsboxr_next {
    right: 0;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
}

.gszsboxr_per i,
.gszsboxr_next i {
    font-size: 26px;
    color: #fff;
}


/* 公司附加展示 */

.gsfjzsboxl {
    position: relative;
}

.gsfjzsboxdw {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gsfjzsboxr {
    padding: 100px 60px 100px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gsfjzsboxr_ct {
    width: 100%;
}

.gsfjzsboxr_ctitem h6 {
    font-size: 22px;
	font-weight: normal;
    text-transform: capitalize;
}

.gsfjzsboxr_ctitem p {
    margin-top: 5px;
    color: #999;
    line-height: 26px;
    word-break: break-all;
	font-size: 14px;
}

.gsfjzsboxr_ctitem {
    margin-bottom: 30px;
}


/* 公司历史 */

.gsls {
    padding: 95px 0 40px;
    background-color: #f3f3f3;
    justify-content: center;
}

.gsls_title {
    font-family: 'ProximaNova-Bold';
    text-transform: capitalize;
    word-break: break-all;
    font-size: 36px;
}

.gslsct {
    margin-top: 60px;
    position: relative;
}

.gslsct_xl,
.gslsct_xr {
    position: absolute;
    top: 0;
    width: auto;
    height: 20px;
    background-color: #f3f3f3;
    z-index: 10;
}

.gslsct_xl {
    left: 0;
}

.gslsct_xr {
    right: 0;
}

.gslsct_per,
.gslsct_next {
    position: absolute;
    top: 0;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background-color: #fff;
    border: 1px solid #ececec;
    z-index: 20;
    cursor: pointer;
    outline: none;
}

.gslsct_per {
    left: 0;
    transform: translate(-50%, -28px);
    -webkit-transform: translate(-50%, -28px);
    -moz-transform: translate(-50%, -28px);
    -ms-transform: translate(-50%, -28px);
    -o-transform: translate(-50%, -28px);
}

.gslsct_next {
    right: 0;
    transform: translate(50%, -28px);
    -webkit-transform: translate(50%, -28px);
    -moz-transform: translate(50%, -28px);
    -ms-transform: translate(50%, -28px);
    -o-transform: translate(50%, -28px);
}

.gslsct_per i,
.gslsct_next i {
    font-size: 24px;
}

.gslsct_per.swiper-button-disabled i,
.gslsct_next.swiper-button-disabled i {
    color: #999;
}

.gslsct_container {
    width: 100%;
    padding-bottom: 50px;
}

.gslsct_slideitem_x {
    width: 100%;
    height: 1px;
    background-color: #d1d1d1;
    margin-top: 8px;
    position: relative;
}

.gslsct_slideitem_x::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border: 1px solid #d1d1d1;
    background-color: #fff;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    z-index: 20;
}

.gslsct_slideitem_sj {
    margin-top: 40px;
    text-align: center;
    font-family: 'ProximaNova-Bold';
    font-size: 36px;
}

.gslsct_slideitem_img {
    padding: 20px;
}

.gslsct_slideitem_img>div {
    overflow: hidden;
}

.gslsct_slideitem_img img {
    width: 100%;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.gslsct_slideitem_txt {
    padding: 0 25px;
}

.gslsct_slideitem_txt p {
    color: #666;
    line-height: 24px;
    word-break: break-all;
}

.gslsct_container .gslsct_slide:first-child .gslsct_slideitem_x::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 1px;
    background-color: #f3f3f3;
}

.gslsct_container .gslsct_slide:last-child .gslsct_slideitem_x::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 1px;
    background-color: #f3f3f3;
}

.gslsct_pagination.swiper-pagination .swiper-pagination-bullet {
    width: 25px;
    height: 3px;
    background-color: #d1d1d1;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    opacity: 1;
}

.gslsct_pagination.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #df002c;
}

.gslsct_slide:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.gslsct_slide:hover .gslsct_slideitem_x::after {
    background-color: #df002c;
    border-color: #df002c;
}

.gslsct_slide:hover .gslsct_slideitem_sj {
    color: #234488;
}


/* 公司荣誉 */

.gsry {
    margin-top: 80px;
}

.gsrytitlel {
    font-family: 'ProximaNova-Bold';
    text-transform: capitalize;
    word-break: break-all;
    font-size: 36px;
}

.gsrytitler a {
    text-transform: capitalize;
}

.gsryct {
    margin-top: 40px;
    position: relative;
}


/* 按钮 */

.gsry_prev,
.gsry_next {
    position: absolute;
    top: 50%;
    z-index: 10;
    outline: none;
}

.gsry_prev {
    left: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.gsry_next {
    right: 0;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
}

.gsry_prev i,
.gsry_next i {
    font-size: 34px;
    color: #333;
}

.gsry_prev.swiper-button-disabled i,
.gsry_next.swiper-button-disabled i {
    color: #666;
}

.gsry_container {
    width: 100%;
}

.gsry_slide .gsry_slidea {
    display: block;
    overflow: hidden;
    border: 1px solid #e6e6e6;
}

.gsry_slidea img {
    width: 100%;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.gsry_slide .gsry_slidea:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.gslsct.col {
    padding: 0;
}

@media screen and (max-width:1700px) {
    /* 公司说明 */
    .gssmboxr {
        padding: 60px 0;
        padding-left: 50px;
    }
    .gszsboxl {
        padding: 70px 0;
        padding-left: 50px;
    }
    .gszsboxr_ct {
        width: 80%;
    }
    .gsfjzsboxr {
        padding: 60px 50px;
    }
    .gssm_slide {
        padding-right: 50px;
    }
}

@media screen and (max-width:1200px) {
	.gssm_slide { line-height: 21px; }
	.gssm_slide p { line-height: 21px; font-size: 14px; }
    .gssmboxr {
        padding: 50px 0;
        padding-left: 50px;
    }
    .gssm_slide {
        padding-right: 20px;
    }
    .gssmboxr_txtct {
        margin-top: 15px;
    }
    .gssm_slide p {
        margin-bottom: 10px;
    }
    .gszsboxl {
        padding: 60px 0;
        padding-left: 30px;
    }
    .gszsboxr_ct {
        width: 85%;
    }
    .gsfjzsboxr {
        padding: 50px 10px 50px 50px;
    }
	.gsfjzsboxr_ctitem p { 
		line-height: 21px;
		font-size: 14px;
	}    
	.gslsct_slideitem_img {
        padding: 10px;
    }
    .gslsct_slideitem_txt {
        padding: 0 15px;
    }
}



@media screen and (max-width:992px) {
	.gsfjzsboxr_ctitem h6 { margin-bottom: 5px;}
	.gsfjzsboxr_ctitem { margin-bottom: 10px}

    .gssmboxl {
        overflow: hidden;
    }
    .gssmboxl img {
        width: 100%;
    }
    .gssmboxdw {
        display: none;
    }
    .gssmboxr_txth,
    .gszsboxllb_title,
    .gsls_title,
    .gsrytitlel,
    .gsrytitlel {
        font-size: 30px;
    }
    .gssmboxr {
        padding: 20px 0 60px;
    }
    .gssmboxr_txtct {
        margin-top: 10px;
    }
    .gszsboxrdw {
        display: none;
    }
    .gszsboxr_ct {
        display: none;
    }
    .gszsboxr_per,
    .gszsboxr_next {
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
    }
    .gszsboxl {
        padding: 0;
    }
    .gszsboxllb {
        width: 100%;
    }
    .gszsl_slide:last-child .gszsl_slidea {
        border-bottom: 1px solid #d5d5d5;
    }
    .gsfjzsboxl {
        padding: 60px 0 0;
    }
    .gsfjzsboxdw {
        display: none;
    }
    .gsfjzsboxr {
        padding: 20px 0 60px;
    }
    /* 公司历史 */
    .gsls {
        padding: 50px 0 20px;
    }
    .gslsct {
        margin-top: 30px;
    }
    .gslsct_slideitem_sj {
        margin-top: 20px;
        font-size: 26px;
    }
    .gslsct_per,
    .gslsct_next {
        display: none;
    }
    /* 公司荣誉 */
    .gsry {
        margin-top: 50px;
    }
    .gsryct {
        margin-top: 20px;
    }
    /* 新闻 */
    .nyxw {
        margin-top: 60px;
    }
    .nyxw .gsrytitle {
        margin-top: 20px;
    }
    .nyxwct {
        margin-top: 15px;
    }
    .nyxwcta_txt {
        padding: 0 15px;
    }
    .nyxwcta_txtboxh {
        font-size: 24px;
    }
    .nyxwcta_txtboxp {
        margin-top: 0;
        line-height: 18px;
    }
    .nyxwcta_sjbox p {
        font-size: 30px;
    }
    .nyxwcta_sjbox span {
        font-size: 18px;
    }
    .nyxwct .nyxwcta {
        height: 126px;
        margin-bottom: 20px;
    }
    .nyxwcta_sjbox {
        margin-top: 16px;
    }
}

@media screen and (max-width:768px) {
	.nyxw { border: NONE;}
	.gsfjzsboxr_ctitem p {
    line-height: 18px;
    font-size: 13px;
}
    .gssmboxr_txth,
    .gszsboxllb_title,
    .gsls_title,
    .gsrytitlel,
    .gsrytitlel {
        font-size: 24px;
    }
    .gssm_slide p {
        font-size: 13px;
        line-height: 20px;
    }
    .gssm_scrollbar.swiper-scrollbar {
        width: 5px;
    }
    .gszsboxr_per,
    .gszsboxr_next {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
    .gsfjzsboxr_ctitem h6 {
        font-size: 20px;
    }
    .gsfjzsboxr_ctitem p {
        margin-top: 0;
    }
    .gsfjzsboxr_ctitem {
        margin-bottom: 12px;
    }
    .gslsct_per,
    .gslsct_next {
        display: none;
    }
    .gslsct {
        margin-top: 15px;
    }
    .gslsct_slideitem_sj {
        font-size: 20px;
    }
    .gslsct_slideitem_img {
        padding: 5px;
    }
    .gslsct_slideitem_txt {
        padding: 0 10px;
        font-size: 12px;
        line-height: 20px;
    }
    .gslsct.col {
        padding: 0;
    }
    .gszsboxr_ct {
        height: 300px;
    }
    .nyxwcta_sj {
        display: none;
    }
    .nyxwcta_txtboxh {
        font-size: 18px;
    }
    .nyxwcta_txtboxp {
        font-size: 12px;
        line-height: 16px;
    }
    .nyxwct .nyxwcta {
        height: 100px;
    }
    .gsry_next {
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
    }
    .gsry_prev {
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
    }
}