
.nyxwlb {
    margin-top: 75px;
}

.nyxwlba {
    width: 100%;
}

.nyxwlbbox .nygsxw_cta {
    display: block;
    height: 252px;
    display: flex;
    border: 1px solid #e6e6e6;
    margin-bottom: 40px;
}

.nygsxw_ctaimg {
    width: 25%;
    overflow: hidden;
}

.nygsxw_ctaimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.nyxwlbbox .nygsxw_cta:hover .nygsxw_ctaimg img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.nygsxw_ctatxt {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 90px;
}

.nygsxw_ctatxtbox {
    width: 100%;
}

.nygsxw_ctatxtbox_t {
    font-family: 'ProximaNova-Semibold';
    font-size: 26px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.nygsxw_ctatxtbox_b {
    margin-top: 10px;
    color: #888;
    line-height: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-break: break-all;
	font-size: 14px;
}

.nygsxw_ctasj {
    display: flex;
    align-items: center;
    padding: 0 75px 0 40px;
}

.nygsxw_ctasjbox {
    text-align: center;
}

.nygsxw_ctasjbox p {
    font-family: 'ProximaNova-Semibold';
    font-size: 40px;
    color: #d1d1d1;
    margin-bottom: 10px;
}

.nygsxw_ctasjbox span {
    font-family: 'ProximaNova-Semibold';
    font-size: 24px;
    color: #d1d1d1;
}

.nygsxw_ct .nygsxw_cta:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.nyxwlbbox .nygsxw_cta:hover .nygsxw_ctatxtbox_t {
    padding-left: 5px;
}

.nyxwlbfy {
    margin-top: 20px;
}

.nyflqh {
    margin-top: 50px;
    display: block;
}

.nyflqhbox .nyflqha {
    width: 20%;
    margin-bottom: 50px;
    height: 50px;
    line-height: 50px;
	font-size: 16px;
}

@media screen and (max-width:1700px) {
    .nygsxw_ctatxt {
        padding: 0 50px;
    }
    .nygsxw_ctasj {
        padding: 0 30px;
    }
}

@media screen and (max-width:1200px) {
    .nygsxw_ctatxt {
        padding: 0 20px;
    }
    .nygsxw_ctasj {
        padding: 0 20px;
    }
    .nygsxw_ct .nygsxw_cta {
        height: 170px;
    }
    .nyxwlbbox .nygsxw_cta {
        height: 170px;
    }
	.nygsxw_ctatxtbox_b { margin-top: 5px}
}

@media screen and (max-width:992px) {
    .nyxwlbbox .nygsxw_cta {
        margin-bottom: 20px;
        height: 140px;
    }
    .nyxwlb {
        margin-top: 40px;
    }
    .nygsxw_ctatxt {
        padding: 0 10px;
    }
    .nygsxw_ctatxtbox_t {
        font-size: 22px;
    }
    .nygsxw_ctasj {
        padding: 0 10px;
    }
    .nygsxw_ctasjbox p {
        font-size: 30px;
    }
    .nygsxw_ctasjbox span {
        font-size: 18px;
    }
	.nygsxw_ctatxtbox { padding-left: 10px}
	
}

@media screen and (max-width:768px) {
	
    .nyxwlb {
        margin-top: 20px;
    }
    .nygsxw_ctatxtbox_t {
        font-size: 16px;
    }
	
    .nygsxw_ctatxtbox_b {
        margin-top: 5px;
        font-size: 12px;
        line-height: 16px;
    }
    .nygsxw_ctasjbox p {
        font-size: 18px;
    }
    .nygsxw_ctasjbox span {
        font-size: 12px;
    }
    .nyxwlbbox .nygsxw_cta {
        height: 100px;
    }
    .nygsxw_ctasj {
        display: none;
    }
    .nygsxw_ctatxt {
        padding: 0 20px;
    }
}
@media screen and (max-width:460px) {
	.nyflqhbox .nyflqha{
		width: 33.3333%;
		margin-bottom: 0px;
	}
	.nyflqhbox .nyflqha{
		height: 35px;
		line-height: 35px;
	}
	.nyflqh{
		margin-top: 25px;
	}
}
.pagebar { padding:20px; overflow:hidden}
.pagebar .pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.pagination a {
  background: #fff;
  border: 1px solid #ccc;
  color: #333;
  font-size: 12px;
  padding: 7px 8px;
  margin: 0 2px;
  border-radius: 3px;
}
.pagination span {
    color: #333;
    font-size: 12px;
    padding: 7px 2px;
    margin: 0 2px;
    border-radius: 3px;
}
.pagination a:hover {
  color: #337ab7;
  border: 1px solid #337ab7;
}
.pagination a.page-num-current {
  color: #fff;
  background: #337ab7;
  border: 1px solid #337ab7;
}
.text-secondary{ text-align:center; padding:20px 0}