

/* å†…é¡µæ–°é—»å†…å®¹ */

.nyxwnr {
    margin-top: 90px;
}

.nyxwnrboxl {
    padding: 0;
    padding-right: 90px;
}

.nyxwnrboxl_title {
    font-family: 'ProximaNova-Semibold';
    line-height: 38px;
    word-break: break-all;
    font-size: 36px;
    color: #333;
}

.nyxwnrboxl_sm {
    margin-top: 10px;
    display: flex;
	font-size: 14px;
}

.nyxwnrboxl_sm>div {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.nyxwnrboxl_sm span {
    color: #999;
}

.nyxwnrboxl_sm b {
    margin-left: 8px;
    color: #999;
}

.nyxwnrboxl_smfx span {
    color: #333;
    margin-left: 5px;
}

.nyxwnrboxl_smfx i {
    margin-top: 4px;
    font-size: 22px;
    color: #999;
    padding: 0 6px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.nyxwnrboxl_smfx i:hover {
    color: #e12644;
}

.nyxwnrboxl_ct {
    margin-top: 30px;
}
.nyxwnrboxl_ct img{ max-width:100%; height:auto !important; display:initial}
.nyxwnrboxl_ct p{
	font-size: 14px;
	line-height: 26px;
}

.nyxwnrboxl_sxy {
    margin-top: 40px;
    border-top: 1px solid #d9d9d9;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nyxwnrboxl_sxy>a {
    display: flex;
    align-items: center;
}

.nyxwnr_per i,
.nyxwnr_next i {
    font-size: 22px;
    color: #b3b3b3;
}

.nyxwnr_per span,
.nyxwnr_next span {
    font-family: 'ProximaNova-Semibold';
    font-size: 18px;
    color: #333;
    margin: 0 24px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.nyxwnr_per:hover span,
.nyxwnr_next:hover span {
    color: #e12644;
}

.nyxwnrboxl_sxy .nyxwnr_fh {
    width: 210px;
    height: 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.nyxwnr_fh i {
    font-size: 18px;
    color: #333;
}

.nyxwnr_fh span {
    color: #333;
    margin-left: 5px;
}

.nyxwnrboxl_sxy .nyxwnr_fh:hover {
    background-color: #234488;
}

.nyxwnrboxl_sxy .nyxwnr_fh:hover i,
.nyxwnrboxl_sxy .nyxwnr_fh:hover span {
    color: #fff;
}

.nyxwnrboxlr {
    padding: 0;
    padding-top: 100px;
}

.nyxwnrboxlr_title {
    font-family: 'ProximaNova-Semibold';
    text-transform: capitalize;
    font-size: 24px;
    color: #333;
}

.nyxwnrboxlr_xg {
    margin-top: 12px;
}

.nyxwnrboxlr_xg .nyxwnrboxlr_xga {
    height: 115px;
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    padding: 0 30px;
    margin-bottom: 12px;
}

.nyxwnrboxlr_xgaitem {
    width: 100%;
    display: flex;
}

.nyxwnrboxlr_xgaiteml p {
    margin-top: 6px;
    font-family: 'ProximaNova-Semibold';
    font-size: 24px;
    color: #d1d1d1;
}

.nyxwnrboxlr_xgaiteml span {
    font-family: 'ProximaNova-Semibold';
    font-size: 16px;
    color: #d1d1d1;
}

.nyxwnrboxlr_xgaiteml {
    text-align: center;
}

.nyxwnrboxlr_xgaitemr {
    flex: 1;
    padding: 0 30px;
    line-height: 24px;
    color: #666;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.nyxwnrboxlr_xg .nyxwnrboxlr_xga:hover .nyxwnrboxlr_xgaitemr {
    color: #e12644;
}

.nyxwnrboxl_smfx>i {
    margin-top: -2px;
    padding-right: 4px;
    font-size: 16px;
    color: #234488;
}

@media screen and (max-width:1700px) {
    .nyxwnrboxl {
        padding-right: 50px;
    }
    .nyxwnrboxlr_xg .nyxwnrboxlr_xga {
        padding: 0 15px;
        height: 100px;
    }
    .nyxwnrboxlr_xgaitemr {
        padding: 0 10px;
    }
    .nyxwnrboxl_title {
        font-size: 32px;
    }
}
@media screen and (max-width:1400px) {
	.nyxwnrboxlr { display: none}
	.nyxwnrboxl {  width: 100% !important; max-width: 100%!important;flex: 0 0 100%;}
}
@media screen and (max-width:1200px) {
    .nyxwnrboxl {
        padding-right: 30px;
    }
    .nyxwnrboxl_title {
        font-size: 30px;
    }
    .nyxwnrboxlr_xg .nyxwnrboxlr_xga {
        padding: 0 20px;
        height: 90px;
    }
}

@media screen and (max-width:992px) {
    .nyxwnr {
        margin-top: 60px;
    }
    .nyxwnrboxl_title {
        font-size: 26px;
        line-height: 28px;
    }
    .nyxwnr_per span,
    .nyxwnr_next span {
        font-size: 20px;
    }
    .nyxwnrboxl {
        padding-right: 0;
    }
    .nyxwnrboxlr {
        padding-top: 60px;
    }
    .nyxwnrboxlr_xgaitemr {
        padding: 0 20px;
    }
}

@media screen and (max-width:768px) {
	
    .nyxwnrboxl_title {
        font-size: 20px;
        line-height: 22px;
    }
    .nyxwnrboxl_sm>.nyxwnrboxl_smfx {
        display: none;
    }
    .nyxwnrboxl_sm span {
        font-size: 14px;
    }
    .nyxwnrboxl_sm b {
        font-size: 14px;
    }
    .nyxwnr_per span,
    .nyxwnr_next span {
        margin: 0 10px;
    }
    .nyxwnrboxl_sxy .nyxwnr_fh {
        width: 160px;
        height: 46px;
        line-height: 46px;
    }
	
	.nyxwnrboxl_ct *{ font-size: 14px !important; line-height: 22px !important;}
}