

/* 内页产品列表 */

.nycqlbl {
    padding: 80px 0 200px 0;
    background-color: #f3f3f3;
    position: relative;
}

.nycqlbldw {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #f3f3f3;
    z-index: -1;
}

.nycqlblbox {
    width: 100%;
}

.nycqlblbox_item {
    border-bottom: 1px solid #d9d9d9;
}

.nycqlblbox_itemtitle {
    display: flex;
    height: 76px;
}

.nycqlblbox_itemtitlel {
    flex: 1;
    display: flex;
    align-items: center;
}

.nycqlblbox_itemtitlel i {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
}

.nycqlblbox_itemtitlel span {
    flex: 1;
    font-size: 18px;
    color: #333;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.nycqlblbox_itemtitle .nycqlblbox_itemtitlel:hover i {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    color: #e12644;
}

.nycqlblbox_itemtitlel span {
    flex: 1;
    font-family: 'ProximaNova-Semibold';
    font-size: 18px;
    color: #333;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.nycqlblbox_itemtitle .nycqlblbox_itemtitlel:hover span {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}

.nycqlblbox_itemtitle .nycqlblbox_itemtitlel.on i {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    color: #e12644;
}

.nycqlblbox_itemtitle .nycqlblbox_itemtitlel.on span {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}

.nycqlblbox_itemtitlelr {
    display: flex;
    align-items: center;
    padding: 0 40px;
    cursor: pointer;
}

.nycqlblbox_itemtitlelr span {
    width: 26px;
    height: 26px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.nycqlblbox_itemtitlelr.on1 span {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.nycqlblbox_itemtitlelr.on span {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
}

.nycqlblbox_itemct {
    width: 100%;
    padding-bottom: 40px;
    display: none;
}

.nycqlblbox_itemct .nycqlblbox_itemcta {
    display: block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nycqlblbox_itemct .nycqlblbox_itemcta:hover {
    background-color: #fff;
    color: #df002c;
}

.nycqlblbox_itemct .nycqlblbox_itemcta.on {
    background-color: #fff;
    color: #df002c;
}

.nycqlbrbox {
    padding: 80px 0 0 90px;
}

.nycqlbrbox_titlet {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nycqlbrbox_titleth {
    font-family: 'ProximaNova-Semibold';
    font-size: 36px;
    color: #333;
}

.nycqlbrbox_titletssbox {
    display: flex;
    border: 2px solid #234488;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
}

.nycqlbrbox_titletssbox_sr {
    height: 38px;
    line-height: 38px;
    width: 230px;
    border: 0;
    padding-left: 15px;
	font-size: 14px;
}

.nycqlbrbox_titletssbox_tj {
    height: 38px;
    line-height: 38px;
    width: 50px;
/*    border: 0;*/
    background-color: #234488;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #234488;
}

.nycqlbrbox_titletssbox_sr::-webkit-input-placeholder {
    font-size: 16px;
    color: #999;
}

.nycqlbrbox_titletssbox_sr::-moz-placeholder {
    font-size: 16px;
    color: #999;
}

.nycqlbrbox_titletssbox_sr:-moz-placeholder {
    font-size: 16px;
    color: #999;
}

.nycqlbrbox_titletssbox_sr:-ms-input-placeholder {
    font-size: 16px;
    color: #999;
}

.nycqlbrbox_titleb {
    padding: 15px 0 25px;
    line-height: 24px;
    color: #666;
    word-break: break-all;
/*    border-bottom: 1px solid #d9d9d9;*/
}
.pinpai{
	padding-bottom: 35px;
/*	 border-bottom: 1px solid #d9d9d9;*/
}
.nycqlbrbox_title{
	    border-bottom: 1px solid #d9d9d9;
}
.pinpai img{
	width: 11%;
	display: inline-block;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	overflow: hidden;
	margin: 5px 8px 5px 0;
}
.nycqlbrbox_ct {
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
/*	min-height: 700px;*/
}

.nycqlbrbox_ct .nycqlbrbox_cta {
    display: block;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 20px;
}

.nycqlbrbox_ct .nycqlbrbox_cta:nth-child(3n) {
    margin-right: 0;
}

.nycqlbrbox_ctaimg {
    overflow: hidden;
    border: 1px solid #d9d9d9;
}

.nycqlbrbox_ctaimg img {
    width: 100%;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.nycqlbrbox_ctatxt {
    height: 60px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.nycqlbrbox_ctatxtct {
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nycqlbrbox_ct .nycqlbrbox_cta:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}



.foot {
    margin-top: 0;
}

@media screen and (max-width:1700px) {
    .nycqlbrbox {
        padding-left: 50px;
    }
    .nycqlbrbox_titleth {
        font-size: 30px;
    }
    .nycqlbrbox_ctatxtct {
        font-size: 14px;
    }
}
@media screen and (max-width:1460px) {
    .pinpai img {
    width: 15%;
}
	.nycqlbrbox_titleb {
    padding: 15px 0 15px;
}
	.pinpai {
    padding-bottom: 25px;
}
}

@media screen and (max-width:1200px) {
    .nycqlbrbox_titleth {
        font-size: 26px;
    }
    .nycqlbrbox_titletssbox_sr {
        width: 180px;
    }
}

@media screen and (max-width:992px) {
	
    .nycqlbl {
        padding: 20px 30px 30px 30px;
        margin-top: 60px;
		margin-bottom: 120px;
    }
    .nycqlblbox_itemtitlel i {
        display: none;
    }
    .nycqlblbox_itemtitle>a {
        padding: 0 10px 0 30px;
    }
	.nycqlblbox_itemtitlel span { font-size: 18px}
	.nycqlblbox_itemct .nycqlblbox_itemcta { padding: 0 40px; font-size: 14px; height: 30px; line-height: 30px;}
	.nycqlblbox_itemtitlelr { padding: 20px;}
	
    .nycqlblbox_itemtitle {
        height: 50px;
    }
    .nycqlbrbox {
        padding-left: 0;
        padding-top: 40px;
    }
    .nycqlbrbox_titleb {
        padding: 20px 0;
    }
    
}

@media screen and (max-width:768px) {
	.pinpai img {
    width: 23%;
		    margin: 3px 2px 3px 0;
}
	.nycqlbrbox {
/*    padding-left: 0;*/
    padding-top: 30px;
}
    .nycqlblbox_itemtitlel span {
        font-size: 16px;
    }
    .nycqlblbox_itemct .nycqlblbox_itemcta {
        font-size: 14px;
    }
    .nycqlbrbox_titletss {
        display: none;
    }
    .nycqlbrbox_titleth {
        text-align: center;
    }
    .nycqlbrbox_titleb {
        padding: 10px 0 20px;
        font-size: 14px;
        line-height: 22px;
    }
    .nycqlbrbox_ct .nycqlbrbox_cta {
        width: 49%;
        margin-right: 2%;
        margin-bottom: 20px;
    }
    .nycqlbrbox_ct .nycqlbrbox_cta:nth-child(3n) {
        margin-right: 2%;
    }
    .nycqlbrbox_ct .nycqlbrbox_cta:nth-child(2n) {
        margin-right: 0;
    }
    .nycqlbrbox_ctatxt {
        height: 50px;
        line-height: 50px;
    }
   
}